<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="API Suite" parallel="false" preserve-order="true" verbose="1" >
	<test name="Test on Rest API ">
		<classes>
			<class name="com.api.StocksAPI"/>
			<class name="com.api.CompanyAPI"/>
			<class name="com.api.GroupAPI">
				<methods>
				<include name="createGroup" />
				<include name="getGroup" />
				<include name="shareGroup" />
				<include name="unshareGroup" />
				<include name="updateGroup"/>
				<include name="deleteGroup"/>
				</methods>
			</class>
			<class name="com.api.AccountAPI">
				<methods>
					<include name="createAccount" />
					<include name="getAccount" />
					<include name="shareAccount" />
					<include name="unshareAccount" />
					<include name="updateAccount"/>
					<include name="deleteAccount"/>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!--thods>
-->
