<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="API Suite" parallel="false" preserve-order="true">
	<test name="Test on Rest API ">
		<classes>
			<class name="com.api.StocksAPI">
			<!--<methods>-->
				<!--<include name="getStocks" />-->
				<!--<include name="verifySomething1" />-->
				<!--<include name="verifySomething2" />-->
				<!--<include name="logout" />-->
			<!--</methods>-->
			</class>
			<class name="com.api.CompanyAPI"/>
			<class name="com.api.GroupAPI">
				<methods>
				<include name="createGroup" />
				<include name="getGroup" />
				<include name="shareGroup" />
				<include name="unshareGroup" />
				<include name="updateGroup"/>
				<include name="deleteGroup"/>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!--thods>
-->
